<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Home</title>
  </head>
  <body>
    <label>q13) Please count how many times each of those stop words appears in the text.
     For each that has a count greater than zero, show that word and the number of times it occurs.</label>
         <form action="filter1" method="post" enctype="multipart/form-data">
            <input type="submit" value="submit"/>
        </form>
        <form action="filter1" method="post" enctype="multipart/form-data">
            <label>
              Enter the Number of Words
            </label>
            <input type="number" name="number"/>
            <input type="submit" value="submit"/>
        </form>
        <hr>
        <label>Question 12 Enter the replacement and word to replaced</label>
            <form action="filter2" method="post" enctype="multipart/form-data">
            <label>
              Enter the word to be replaced</label>
            <input type="text" name="rtxt"/>
            <label>Enter the replacement word</label>
            <input type="text" name="rtxt1"/>
            <input type="submit" value="submit"/>
          </div>
        </form>
  </body>
</html>
